@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-open-sans: 'Open Sans', sans-serif;
    /* Family: [Open Sans] - Weights: 400, 700 */

    --font--Poppins: 'Poppins', sans-serif;
    /* Family: [Poppins]- Weights: 600 */

   /*COLOR*/
    /* Primary */

    --Pink: hsl(322, 100%, 66%);

    /* Neutral */

    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);

    --withe: white;

    --hover-big-bottons: #fe9bdc;
}

/* HEADER */

body {
    font-family: var(--font-open-sans);
}

header {
    background-image: url(images/bg-hero-mobile.svg);
    background-color: var(--Very-Pale-Cyan);
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 16px;
}

.container-top {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER TOP */

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0 30px;
}

.logo {
    width: 120px;
}

.top a {
    font-family: var(--font--Poppins);
    text-decoration: none;
    font-size: 10px;
    color: black;
    font-weight: 400;
    background: var(--withe);
    padding: 7px 30px;
    border-radius: 25px;
    box-shadow: 1px 5px 10px rgba(128, 128, 128, 0.211);
}

.top a:hover {
    color: var(--Grayish-Blue);
}

/* ND HEADER TOP */

.container-h-info {
    text-align: center;
    padding: 20px 0;
    width: 80vw;
}

.hi-text {
    margin: 20px 0;
}

.hi-text h1 {
    font-size: 27px;
    font-weight: 700;
    margin: 10px 0;
    color: var(--Very-Dark-Cyan);
}

.hi-text p {
    margin: 30px 0 50px;
    color: var(--Very-Dark-Cyan);

}

.hi-text a {
    font-family: var(--font--Poppins);
    text-decoration: none;
    color: var(--Very-Pale-Cyan);
    background: var(--Pink);
    padding: 15px 70px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 5px 5px 10px hsla(322, 100%, 66%, 0.335);
}

.hi-text a:hover {
   background: var(--hover-big-bottons);
}

.mockups {
    width: 100%;
    margin: 60px 0 0;
}

/* HEADER */

/* MAIN */



/* END MAIN */

@media screen and (min-width:900px) {
    header {
        background-image: url(images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
        height: 80vh;
    }

    p {
        font-size: 18px;
    }

    .container-top {
        margin-top: 60px;
    }

    .top {
        margin: 0;
    }

    .logo {
        width: 150px;
    }

    .top a {
        font-size: 18px;
    }

    .container-h-info {
        display: flex;
        justify-content: space-between;
        text-align: left;
        width: 90vw;
        padding: 0;
        
    }

    .hi-text {
       width: 520px; 
       display: flex;
       flex-direction: column;
       justify-content: center;
    }

    .hi-text h1 {
        width: 500px;
        font-size: 40px;
    }

    .hi-text p {
        line-height: 25px;
        margin-bottom: 30px;
    }

    .hi-text a {
        width: 300px;
        text-align: center;
    }

    .mockups {
        width: 50vw;
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }